<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
     <a class="navbar-brand" href="https://colemannick.github.io/">Nick Coleman</a>
  
     <div class="collapse navbar-collapse" id="navbarColor01">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item">
             <a class="nav-link" href="/assets/ColemanResume.pdf" target="_blank">Resume</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="https://www.linkedin.com/in/nick-coleman-0b111114a/" target="_blank">LinkedIn</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="https://github.com/colemannick" target="_blank">Github</a>
          </li>
       </ul>
    </div>
  </nav>
    
    <div class="py-5">
      <div class="container-fluid page-content">
          {{ content }}
      </div>
    </div>
    
  </body>

</html>
